<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="text-center heading-section">
                <h2>Prueba 30 días gratis</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <%= form_with(model: @free_trial, local: true) do |f| %>
                <div class="form-group">
                    <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre' %>
                </div>
                <div class="form-group">
                    <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true %>
                </div>
                <div class="form-group">
                    <%= f.text_field :phone, class: 'form-control', placeholder: 'Teléfono (opcional)' %>
                </div>
                <div class="form-group">
                    <input type="submit" value="Quiero ser contactado" class="btn btn-primary btn-block py-3 px-5">
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>