<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h2 style="font-family:'Work Sans','Arial','sans-serif'"><%= @free_trial.name %></h2>
    <h2 style="font-family:'Work Sans','Arial','sans-serif'"><%= @free_trial.email %></h2>
    <h2 style="font-family:'Work Sans','Arial','sans-serif'"><%= @free_trial.phone %></h2>
    <h2 style="font-family:'Work Sans','Arial','sans-serif'"><%= @free_trial.contact_time %></h2>
</body>

</html>