<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="text-center heading-section">
        <h2>Reservar <%= @slot.display %>, <%= I18n.l @date %></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <%= render 'form', event: @event, slot: @slot %>
      </div>
    </div>
  </div>
</section>