<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="text-center heading-section px-3">
                <h2>Reservar <%= @slot.display %>, <%= I18n.l @date %></h2>
                <p class="name">
                    Zona Horaria: <%= @slot.time_zone_name || @slot.time_zone %>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <%= render 'form', event: @event, slot: @slot %>
            </div>
        </div>
    </div>
</section>