<p>Hola <%= @resource.email %>!</p>

<p>Puedes cambiar tu clave haciendo en el siguiente enlace:</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Un saludo,</p>

<p>El Equipo Citas.cc</p>